.top-bar-header {
  width: 444px;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .title-link {
    text-decoration: none;
  }

  h1 {
    color: #FFF;
    margin: 0;
    font-size: 32px;
    font-weight: lighter;
  }

  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976D2;
    color: white;
    border: none;
  }

  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }

  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }

  .fancy-button {
    background-color: white;
    color: #1976D2;
  }

  .fancy-button i.material-icons {
    color: #1976D2;
    padding-right: 4px;
  }
}
