<header class="header-con"></header>
<section class="body-con">
  <section class="aside-menu"></section>
  <section class="content-con">
    <div class="page-title">
      <div class="title-con">全平台数据</div>
      <div class="title-line"></div>
    </div>
    <div class="data-trans-wrapper">
      <div class="data-title-con">
        <h3 class="title-txt">平台交易数据</h3>
      </div>
      <div class="data-trans-con">
        <div class="trans-left-con">
          <div class="trans-card-con">
            <h5 class="card-title">企业大学数量：</h5>
            <h6 class="card-con">516</h6>
          </div>
          <div class="trans-card-con">
            <h5 class="card-title">平台交易总额：</h5>
            <h6 class="card-con">￥173062.06</h6>
          </div>
          <div class="trans-card-con">
            <h5 class="card-title">平台累计订单数：</h5>
            <h6 class="card-con">15623</h6>
          </div>
        </div>
        <div class="trans-right-con">
          <div class="chart-tool-con">
            <h5 class="chart-title">平台交易情况：</h5>
            <div class="date-filter-tool-con">
              <span class="date-tool-txt">时间段：</span>
              <input type="text" value="请选择时间段" class="date-input">
              <button type="button" class="date-select-btn active">昨天</button>
              <button type="button" class="date-select-btn">7天</button>
              <button type="button" class="date-select-btn">30天</button>
            </div>
          </div>
          <div class="chart-legend-con">
            <div class="legend-item">
              <span class="legend-icon cyan"></span>
              <span class="legend-txt">平台交易额</span>
            </div>
            <div class="legend-item">
              <span class="legend-icon blue"></span>
              <span class="legend-txt">平台订单数</span>
            </div>
          </div>
          <div class="trans-chart-con" #transChartCon></div>
        </div>
      </div>
    </div>
    <div class="course-data-wrapper">
      <div class="data-title-con">
        <h3 class="title-txt">平台课程数据</h3>
      </div>
      <ul class="course-data-card-list">
        <li class="course-data-card-con">
          <h5 class="card-title">平台课程数量：</h5>
          <h6 class="card-txt">7215</h6>
        </li>
        <li class="course-data-card-con">
          <h5 class="card-title">课程访问量：</h5>
          <h6 class="card-txt">18126</h6>
        </li>
        <li class="course-data-card-con">
          <h5 class="card-title">课程销售量：</h5>
          <h6 class="card-txt">7652</h6>
        </li>
      </ul>
      <div class="course-data-con">
        <div class="left-con">
          <h5 class="title-txt">开放课程数量：</h5>
          <h6 class="data-txt">2061</h6>
          <ul class="legend-list">
            <li class="legend-item">
              <span class="legend-icon blue"></span>
              <span class="legend-txt">在线课</span>
            </li>
            <li class="legend-item">
              <span class="legend-icon cyan"></span>
              <span class="legend-txt">直播课</span>
            </li>
            <li class="legend-item">
              <span class="legend-icon green"></span>
              <span class="legend-txt">线下课</span>
            </li>
          </ul>
        </div>
        <div class="right-con">
          <ul class="course-scale-list">
            <li class="scale-item blue">
              <span class="scale-txt">51%</span>
            </li>
            <li class="scale-item cyan">
              <span class="scale-txt">28%</span>
            </li>
            <li class="scale-item green">
              <span class="scale-txt">0%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="user-data-wrapper">
      <div class="data-title-con">
        <h3 class="title-txt">平台用户数据</h3>
      </div>
      <div class="user-data-con">
        <div class="left-con">
          <div class="pie-chart-con" #pieChartCon></div>
          <ul class="pie-chart-legend-con">
            <li class="legend-item">
              <span class="legend-icon cyan"></span>
              <span class="legend-txt">C端用户数量</span>
            </li>
            <li class="legend-item">
              <span class="legend-icon blue"></span>
              <span class="legend-txt">企业用户数量</span>
            </li>
          </ul>
        </div>
        <ul class="right-con">
          <li class="info-item">
            <h5 class="info-title">用户数量：</h5>
            <h6 class="info-txt">5610</h6>
          </li>
          <li class="info-item">
            <h5 class="info-title">企业用户数量：</h5>
            <h6 class="info-txt">2089</h6>
          </li>
          <li class="info-item">
            <h5 class="info-title">C端用户数量：</h5>
            <h6 class="info-txt">3521</h6>
          </li>
        </ul>
      </div>
    </div>
    <div class="co-data-wrapper">
      <div class="co-data-header">
        <div class="data-title-con">
          <h3 class="title-txt">查询企业大学数据</h3>
        </div>
        <div class="co-search-con">
          <span></span>
          <input type="text">
        </div>
      </div>
      <ul class="co-data-con">
        <li class="item-info-con">
          <h6 class="item-info-title">课程数量：</h6>
          <p class="item-info-content">-</p>
        </li>
        <li class="item-info-con">
          <h6 class="item-info-title">开放课程数量：</h6>
          <p class="item-info-content">-</p>
        </li>
        <li class="item-info-con">
          <h6 class="item-info-title">交易总金额：</h6>
          <p class="item-info-content">-</p>
        </li>
        <li class="item-info-con">
          <h6 class="item-info-title">累计订单数：</h6>
          <p class="item-info-content">-</p>
        </li>
        <li class="item-info-con">
          <h6 class="item-info-title">用户数量：</h6>
          <p class="item-info-content">-</p>
        </li>
      </ul>
    </div>
  </section>
</section>

