@import "~src/styles/config";

.course-overview-list {
  margin-top: px2vw(30);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .course-overview-item {
    background: #FFF;
    width: px2vw(422);
    height: px2vw(122);
    box-sizing: border-box;
    padding: px2vw(26) px2vw(30);

    .item-title {
      font-size: px2vw(18);
      color: #111;
      line-height: 1;
      margin-bottom: px2vw(15);
    }

    .item-content {
      font-size: px2vw(30);
      color: #111;
      line-height: 1;
      font-weight: 700;
    }
  }
}

.public-course-con {
  display: flex;
  justify-content: space-between;
  margin-top: px2vw(30);

  .overview-con {
    background-color: #FFF;
    width: px2vw(300);
    height: px2vw(255);
    box-sizing: border-box;
    padding: px2vw(30);

    .legend-list {
      margin-top: px2vw(65);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .legend-item {
        margin-bottom: px2vw(20);
      }
    }
  }

  .overview-title {
    font-size: px2vw(18);
    line-height: 1;
    color: #111;
  }

  .overview-content {
    font-size: px2vw(30);
    line-height: 1;
    color: #111;
    margin-top: px2vw(20);
  }
}

.public-course-scale-con {
  width: px2vw(996);
  height: px2vw(255);

  .scale-item {
    margin-bottom: px2vw(15);
    width: px2vw(996);
    height: px2vw(75);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:last-of-type {
      margin-bottom: 0;
    }

    .scale-txt {
      font-size: px2vw(30);
      color: #44C5C2;
    }

    &.blue {
      .progress-con {
        background-image: url("../../../assets/platform-data-vis/trans-data-section/blue1px.png");
      }

      .percent-info {
        color: #38A8EE;
      }
    }

    &.green {
      .progress-con {
        background-image: url("../../../assets/platform-data-vis/trans-data-section/green1px.png");
      }

      .percent-info {
        color: #88B04B;
      }
    }

    &.cyan {
      .progress-con {
        background-image: url("../../../assets/platform-data-vis/trans-data-section/cyan1px.png");
      }

      .percent-info {
        color: #44C5C2;
      }
    }

    .progress-con {
      // border-top-left-radius: px2vw(6);
      // border-bottom-left-radius: px2vw(6);

      max-width: px2vw(836);
      min-width: px2vw(106);

      background-repeat: repeat-x;
      background-size: auto 100%;

      width: px2vw(266);
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: px2vw(30);
      box-sizing: border-box;

      transition: width .8s linear;

      // background-size: cover;

      .progress-title {
        font-size: px2vw(18);
        line-height: 1;
        color: #FFF;
      }

      .progress-content {
        font-size: px2vw(30);
        line-height: 1;
        color: #FFF;
      }
    }

    .progress-placeholder-con {
      width: px2vw(160);
      height: 100%;
      background: url("../../../assets/platform-data-vis/trans-data-section/blueeffect.gif");
      background-size: cover;
      display: none;
    }

    .percent-con {
      width: px2vw(160);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .percent-info {
        font-size: px2vw(30);
        line-height: 100%;
        margin-bottom: 0 !important;
      }
    }
  }
}
