<section class="course-data-wrapper">
  <app-data-section-title [title]="'平台课程数据'"></app-data-section-title>

  <section class="course-data-con">
    <ul class="course-overview-list">
      <li *ngFor="let item of courseInfo.overviewInfo;" class="course-overview-item common-shadow common-radius">
        <h5 class="item-title">{{item.title}}</h5>
        <h6 class="item-content">{{item.content}}</h6>
      </li>
    </ul>
    <section class="public-course-con">
      <section class="overview-con common-shadow common-radius">
        <h5 class="overview-title">开放课程数量：</h5>
        <h6 class="overview-content">{{courseInfo.publicInfo.total}}</h6>
        <ul class="legend-list">
          <li class="legend-item">
            <span class="legend-icon blue-shadow"></span>
            <span class="legend-txt">在线课</span>
          </li>
          <li class="legend-item">
            <span class="legend-icon cyan-shadow"></span>
            <span class="legend-txt">直播课</span>
          </li>
          <li class="legend-item">
            <span class="legend-icon green-shadow"></span>
            <span class="legend-txt">线下课</span>
          </li>
        </ul>
      </section>
      <ul class="public-course-scale-con">
        <li class="scale-item common-shadow common-radius blue">
          <div class="progress-con common-radius" [ngStyle]="{'width.vw': (266 + courseInfo.publicInfo.online.percent / 100 * (836 - 266)) / 1440 * 100}">
            <h5 class="progress-title">在线课数量：</h5>
            <h6 class="progress-content">{{courseInfo.publicInfo.online.count}}</h6>
          </div>
          <div class="progress-placeholder-con"></div>
          <div class="percent-con">
            <p class="percent-info">{{courseInfo.publicInfo.online.percent}}%</p>
          </div>
        </li>
        <li class="scale-item common-shadow common-radius cyan">
          <div class="common-radius progress-con" [ngStyle]="{'width.vw': (266 + courseInfo.publicInfo.live.percent / 100 * (836 - 266)) / 1440 * 100}">
            <h5 class="progress-title">直播课数量：</h5>
            <h6 class="progress-content">{{courseInfo.publicInfo.live.count}}</h6>
          </div>
          <div class="percent-con">
            <p class="percent-info">{{courseInfo.publicInfo.live.percent}}%</p>
          </div>
        </li>
        <li class="scale-item common-shadow common-radius green">
          <div class="common-radius progress-con" [ngStyle]="{'width.vw': (266 + courseInfo.publicInfo.offline.percent / 100 * (836 - 266)) / 1440 * 100}">
            <h5 class="progress-title">线下课数量：</h5>
            <h6 class="progress-content">{{courseInfo.publicInfo.offline.count}}</h6>
          </div>
          <div class="percent-con">
            <p class="percent-info">{{courseInfo.publicInfo.offline.percent}}%</p>
          </div>
        </li>
      </ul>
    </section>
  </section>
</section>
