<header class="header-wrapper"></header>
<section class="content-wrapper">
  <aside class="side-menu-con"></aside>
  <section class="content-con">
    <div class="title-con">
      <h2 class="title-txt">全平台数据</h2>
    </div>
    <app-trans-data-section class="data-section-con"></app-trans-data-section>
    <app-course-data-section class="data-section-con"></app-course-data-section>
    <app-user-data-section class="data-section-con"></app-user-data-section>
    <app-college-data-section class="data-section-con"></app-college-data-section>
  </section>
</section>

