@import '~src/styles/config';

:host {
  width: 100%;
  height: 100%;
}

.header-wrapper {
  height: px2vw(44);
  background-color: #FF3607;
}

.content-wrapper {
  height: calc(100% - #{px2vw(44)});

  display: flex;

  .side-menu-con {
    width: rem(55);
    height: 100%;
    background-color: #5B5B5B;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .content-con {
    flex: 1;
    background-color: #FFF;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    box-sizing: border-box;
    padding: px2vw(30);
  }

  .title-con {
    .title-txt {
      position: relative;
      font-size: px2vw(22);
      padding: px2vw(8) 0;
      color: #111;
      border-bottom: 2px solid #999;

      &::after {
        position: absolute;
        left: 0;
        bottom: px2vw(-2);

        content: ' ';
        display: block;
        width: px2vw(137);
        height: px2vw(3);

        background-color: #35A5ED;
      }
    }
  }
}

:host ::ng-deep {
  .blue-shadow {
    background-color: #35A5ED;
    box-shadow: 0 1px px2vw(11) 0 rgba(53,165,237,.5);
  }

  .green-shadow {
    background-color: #88B04B;
    box-shadow: 0 1px px2vw(11) 0 rgba(136,176,75,.5);
  }

  .cyan-shadow {
    background-color: #6EC9C7;
    box-shadow: 0 1px px2vw(11) 0 rgba(110,201,199,.5);
  }

  .common-shadow {
    box-shadow: 0 1px px2vw(11) 1px #F1F2F4;
  }

  .common-radius {
    border-radius: px2vw(6);
  }

  .legend-item {
    display: flex;
    align-items: center;
    cursor: pointer;

    .legend-icon {
      display: inline-block;
      width: px2vw(30);
      height: px2vw(15);
      border-radius: px2vw(24);
      margin-right: px2vw(10);
    }

    .legend-txt {
      font-size: px2vw(14);
      color: #111;
      line-height: 1;
    }
  }
}

.data-section-con {
  display: block;
  margin-top: px2vw(36);
}
