@import "~src/styles/config";

.college-data-header {
  display: flex;
  justify-content: space-between;

  .college-search-con {
    width: px2vw(301);
    height: px2vw(50);
    box-sizing: border-box;
    padding: 0 px2vw(20);

    display: flex;
    align-items: center;

    .search-btn {
      display: block;
      width: px2vw(21);
      height: px2vw(21);
      margin-right: px2vw(30);

      .search-icon {
        display: block;
        width: px2vw(21);
        height: px2vw(21);
      }
    }

    .search-input {
      display: block;
      width: px2vw(180);
    }
  }
}

:host ::ng-deep {
  .ant-select-selection {
    border-width: 0 !important;
    box-shadow: none !important;
  }

  .ant-select-selection__choice__content, .ant-select-search__field {
    font-size: px2vw(14) !important;
  }

  .ant-select-selection__placeholder {
    font-size: px2vw(12) !important;
    color: #CCC !important;
  }

  .ant-select-selection__rendered {
    line-height: 32px !important;
  }
}

.college-data-con {
  background: #FFF;
  padding: px2vw(30);
  height: px2vw(188);
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  margin-top: px2vw(30);

  .item-info-con {
    flex: 1;

    .item-info-title {
      font-size: px2vw(18);
      color: #111;
      line-height: 1;
      margin-bottom: px2vw(15);
    }

    .item-info-content {
      font-size: px2vw(30);
      color: #111;
      line-height: 1;
      font-weight: 700;
    }
  }
}

app-data-section-title {
  width: px2vw(995);
}
